ul{
    list-style-type: none;
    margin: 0px;
}
li{
    display: inline-block;
    /*border: 1px solid black;*/
    
    padding: 5px;
    margin: 10px;

}

#navbar,#Footer {
    background-color:  lightgray;
}
body{
    margin:  0px;
}

a{
    color:  black;
    text-decoration: none;
    font-weight: 600;
}
body{

    font-family: 'Abyssinica SIL', serif;
}


    
.material-symbols-outlined {
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 4;
}
  


.Border{
    border: 1px solid black 
}
h1{
    padding: 20px 40px;
    margin: 10px;
    color: white;
}
#lead{
    padding: 10 px 40px;
    margin: 10px;
    text-decoration: underline;
    color:white
}
#banner{
    background: #fff url("banner.png") center center/contain no-repeat;
}