{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Bootrstap Hoja de Estilos -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <!-- Hoja principal de estilos -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Index</title>
</head>

<body>

    {% block content %} {% endblock %}
    
</body>
</html>